	<div data-role="header">
		<h1>Leaderboard</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<ul data-role="listview" data-inset="true" data-filter="true">
			<li><a href="/profile?name=Andy Clark">Andy Clark</a></li>
			<li><a href="/profile?name=Bradley Pickens">Bradley Pickens</a></li>
			<li><a href="/profile?name=Heather Williams">Heather Williams</a></li>
			<li><a href="/profile?name=Jason Wooten">Jason Wooten</a></li>
			<li><a href="/profile?name=Joe Spirko">Joe Spirko</a></li>
			<li><a href="/profile?name=Tristan Smith">Tristan Smith</a></li>
		</ul>		
	</div><!-- /content -->
