	<div data-role="header">
		<h1>Select your Players</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<%= form_tag "/scorecard/start_round" do %>
			<%= submit_tag "Save" %>
			<%= render "shared/player-listing", :selectable => true %>
		<% end %>
	</div><!-- /content -->
	

	<script>
		Scorecard.init();		
	</script>
