<!DOCTYPE html> 
<html> 
	<head> 
	<title>Albatross</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  	
  	<script>
  		Albatross.init();
  	</script>
  	
</head> 
<body> 

	<div data-role="page">	
		<%= yield %>
		
		<div data-role="footer" data-id="foo1" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<a href="/" data-role="button" data-icon="home">Home</a>
					<a href="/scorecard" data-role="button" data-icon="grid">I'm Playing</a>
					<a href="/leaderboard" data-role="button" data-icon="star">Leaderboard</a>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->
	</div>
</body>
</html>